@charset "utf-8";
/*
@media screen and (max-width:1500px)
{
*/
	.chosen {
		filter:alpha(opacity=80);
		opacity:0.8;
	}
	.items_rank_list tr { 
		line-height: 30px; 
	}
	::-webkit-scrollbar {
    	width: 12px;
	}
 
	::-webkit-scrollbar-track {
   		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    	border-radius: 10px;
	}
 
	::-webkit-scrollbar-thumb {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	#additional_statistic {
		padding-top:20px;
		font-family: "Myriad pro Semibold";
		color: #EF3E2E;
		font-weight: normal;
		font-size:20px;
	}
	#additional_statistic_1 {
		padding-top:20px;
		font-family: "Myriad pro Semibold";
		color: #EF3E2E;
		font-weight: normal;
		font-size:20px;
	}
	#all_list{
		width:100%;
		overflow:auto;
		max-height:646.438px;
	}
	#bar_details {
		width:338px;
		display:block;
		background:#FFB31C;
	}
	#bar_sub_title {
		position: absolute;
		display:block;
		margin-left:30px;
		font-family: "Myriad pro Regular";
	}
	#check_box{
		float:left;
		margin-left:-850px;
		margin-top:550px;
		text-align:left;
		border:1px solid white;
		font-family:"Myriad pro Regular";
	}
	#check_box input{
		color:black;
		height: 20px;		
	}
	#control_by_disease_items{
		float:center;
		padding-left:197px;
		padding-right:auto;
		text-align:center;
	}
	#control_by_disease_items div {
		position: relative;
	}
	#control_by_disease_items  div a:link, #control_by_disease_items div a:visited {
		background: #FFB31C;
		width: 115px;
		text-decoration:none;
		font-family: "Myriad pro Semibold";
		font-size:15px;
		text-align:center;
		padding-left:auto;
		padding-right:auto;
		padding-top:8px;
		padding-bottom:8px;
		color: white;
		border-color:white;
		border-radius:8px;
		-moz-border-radius:8px; 
		float:left;
		margin-left:8px;
	}
	#control_by_disease_items  div a:hover {
		background: #EF3E2E;
	}
	#items_by_rank {;
		line-height: 50px;
		position: absolute;
		width:302.452;
		position: relative;
		color:white;
		font-family: "Myriad pro Regular";
		font-size:20px;
		border-color:#0083CA;
		border-radius:0px 0px 0px 0px;
		-moz-border-radius:9px;
	}
	#items_text {
		width:898px;
		text-align:left;
		position:absolute;
		//background:#FFB31C;
		font-family:"Myriad pro Regular";
		font-size:16px;
		letter-spacing:1px;
		color:#0083CA;
		margin-left:210px;
		margin-top:760px;
		hyphens:auto;
    	text-align:justify;
    	-webkit-hyphens:auto;
    	-webkit-hyphenate-character:"\2010";
    	-webkit-hyphenate-limit-after:1;
    	-webkit-hyphenate-limit-before:3;
    	-moz-hyphens:auto;
	}
	#items_text a:link, #items_text a:visited{
		font-family:"Myriad pro Regular";
		font-size:16px;
		color:#0083CA;
		line-height:10%;
		
	}	
	#items_text p{
		text-align:left;
		font-family:"Myriad pro Regular";
		font-size:20px;
		color:#FFB31C;
		line-height:10%;
		
	}
	#popupwd {
		//border:1px solid black;
		display:block;
		float:left;
		margin-top:30px;
		width:440px;
		height:719px;
	}
	#popupwd1 {
		width:368.517px;
		height:350.438px;
		margin-left:55px;
		position:absolute;
		border:4px solid #0083CA;
		background:white;
		border-radius:12px;
		-moz-border-radius:12px;
		z-index:10;
		text-align:center;
	}
	#popupwd2 {
		float:right;
		width:368.517px;
		height:350.438px;
		margin-left:55px;
		margin-top:360px;
		position:absolute;
		border:4px solid #0083CA;
		background:white;
		border-radius:12px;
		-moz-border-radius:12px;
		z-index:10;
		text-align:center;
	}

	#rankls {
		width:500.452px;
		height:710.438px;
		margin-left:194px;
		margin-top:30px;
		float:left;
		position: absolute;
		border:4px solid #0083CA;
		border-radius:12px;
		-moz-border-radius:12px;
		overflow:hidden;
		background: url(../images/box.jpg) no-repeat 0 0;
		background-image: url(../images/box.jpg);
		background-size:110% 50px;
    	-webkit-background-size:110% 50px;        
    	-khtml-background-size:110% 50px;         
    	-moz-background-size:110% 50px; 
    	background-position: -15px -3px;   
		background-repeat: no-repeat;
	}
	#rankls table {
		border-collapse:collapse;
		margin-top:10px;
		width:480px;
		height:100%;
	}
	#rankls table, td {
		border:1px solid white;
	}
	#rankls table, td a{
		font-family: "Myriad pro Semibold";
		font-size:15px;
		color:#0083CA;
		float:left;
	}
	#rankls .items_rank_list tr:hover {
		background: #E1E1E1;
	}
//}
/*
@media screen and (max-width:1000px)
{
	body { 
		min-width:100px;
		width:100%;
		background: grey; 
	}
}
*/