@charset "utf-8";
@font-face {
  font-family: 'Myriad pro Semibold';
  src: url('MYRIADPRO-SEMIBOLD.OTF') format('opentype');
}
@font-face {
  font-family: 'Myriad pro Regular';
  src: url('MyriadPro-Regular.otf') format('opentype');
}
//
/* CSS Document */
body{
	width:100%;
	margin:0; 
	padding:0 ;	
}
html{ 
	height:100%;
}

a:link, a:visited {
	text-decoration:none;
}
/*
@media screen and (max-width:1500px)
{
*/
	body {
		min-width:1400px;
	}
	container {
		width:97%;
		max-width:1340px;
		margin-top:30px;
		height:100%;
		display:block;
		position:relative;
		margin-left:auto;
		margin-right:auto;
	}
	input[type="text"] {
		height:18px;
		font-size:15px;
		font-style: normal;
  		font-weight: normal;
		font-family: "Myriad pro Semibold";
		background-color: rgb(255, 255, 255);
		border:0px;
	}
	input[type="text"]:focus { 
		outline: none;
	}
	.main_body {
		text-align:center;
		display:block;
		margin-top:80px;
	}
	#copyright {
		display:none;
		position:absolute;
		width:100%;
		font-family: "Myriad pro Regular";
		color:#0083CA;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:0px;
	}
	#header {
		width:100%;
		position:relative;
		display:inline;
		margin:0; 
		padding:0 ; 
	}
	#logo_site {
		height: 190px;
		width: 193px;
		line-height: 0;
		font-size: 0%;
		text-indent: -9999em
		background: url(../images/GlobalHealthLogo.png) no-repeat 0 0;
		background-image: url(../images/GlobalHealthLogo.png);
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;        
    	-khtml-background-size:100% 100%;         
    	-moz-background-size:100% 100%;    
		background-repeat: no-repeat;
		position:absolute;
		z-index:2;
	}
	#menu_bar {	
		margin-left:192px;
		height:100%;
		z-index:1;
		//font-size: 100%;			
		border:1px solid white;	
	}
	#menu_bar #main_menu ul{
		list-style-type:none;
		margin-top:65px;
		min-width:900px;
		width:100%;
		
	}
	#menu_bar #main_menu ul li{
		float:left;
		width: 14%;		
	}
	#menu_bar #main_menu ul li a:link, #menu_bar #main_menu ul a:visited{
		width: 140px;
		text-decoration:none;
		font-family: "Myriad pro Semibold";
		font-size:15px;
		float:left;
		text-align:center;
		padding-left:auto;
		padding-right:auto;
		padding-top:8px;
		padding-bottom:8px;
		background: #0083CA;
		color: white;
		border-color:white;
		border-radius:8px;
		-moz-border-radius:8px; 
		white-space:nowrap;	
	}
	#menu_bar #main_menu ul li#companyanddrug a:link {
		font-size:13px;
		padding-top:9px;
		padding-bottom:9px;
	}
	#menu_bar #main_menu ul li a:hover{
		background: #FFB31C;	
	}
	#menu_bar #sub_menu ul{
		list-style-type:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:-15px;
		text-align:center;
		min-width:600px;
		width:70%;
	}
	#menu_bar #sub_menu ul li{
		float:left;
		width: 168px;
	}	
	#menu_bar #sub_menu ul li a:link, #menu_bar #sub_menu ul a:visited{
		width:140px;
		text-decoration:none;
		float:left;
		text-align:center;
		padding-left:auto;
		padding-right:auto;
		padding-top:5.5px;
		padding-bottom:5.5px;
		background: #EF3E2E;
		font-family: "Myriad pro Regular";
		font-size:17px;
		color: white;
		border-color:white;
		border-radius:8px;
		-moz-border-radius:8px; 
		white-space:nowrap;
		font-size:20px;		
	}
	#menu_bar #sub_menu ul li a:hover{
		background: #0083CA;	
	}
	#network_ico {
		margin-top:5px;
		float:right;
		padding-right:10px;
		filter:alpha(opacity=61);
		opacity:0.61;
	}
	#search {
		margin-top:5px;
		background-color: white;
		float:right;
		width:232.5px;
		line-height:15px;
		border:2px solid #0083CA;
		border-radius:9px;
		-moz-border-radius:9px; 
		filter:alpha(opacity=80);
		opacity:0.8;
	}
	#seperate_line {
		margin-top:108px;
		FILTER: alpha(opacity=100,finishopacity=0,style=5);
	}
//}
/*
@media screen and (max-width:1000px)
{
	body { 
		min-width:100px;
		width:100%;
		background: grey; 
	}
}
*/