@charset "utf-8";

/*
@media screen and (max-width:1500px)
{
*/
	.main_body {
		text-align:center;
		display:block;
		margin-top:80px;
	}
	#line_1	{
		width:520px;
		height:270px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		display:block;
		border:1px solid white;
	}
	#line_2{
		width:520px;
		height:270px;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		display:block;
		border:1px solid white;
	}
	#sq_l_b {
		//margin-top:0px;
		//margin-left:0px;
		width:212px;
		height:215px;
		display:inline-block;
		border:7px solid #0083CA;
		border-top-left-radius:66px;
		border-bottom-right-radius: 66px;
		-moz-border-top-left-radius:66px;
		-moz-border-bottom-right-radius: 66px;
		background: url(../images/disease.png) no-repeat 0 0;
		background-image: url(../images/disease.png);
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;        
    	-khtml-background-size:100% 100%;         
    	-moz-background-size:100% 100%;    
		background-repeat: no-repeat;
	}
	#sq_l_t {
		width:252.764px;
		height:256.709px;
		//display:inline-block;
		float:left;
		border:7px solid #0083CA;
		border-top-left-radius:70px;
		border-bottom-right-radius: 70px;
		-moz-border-top-left-radius:70px;
		-moz-border-bottom-right-radius: 70px;
		background: url(../images/countries.jpg) no-repeat 0 0;
		background-image: url(../images/countries.jpg);
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;        
    	-khtml-background-size:100% 100%;         
    	-moz-background-size:100% 100%;    
		background-repeat: no-repeat;
	}
	#sq_r_b {	
		width:252.764px;
		height:256.709px;
		margin-left:20px;
		display:inline-block;
		border:7px solid #0083CA;
		border-top-left-radius:70px;
		border-bottom-right-radius: 70px;
		-moz-border-top-left-radius:70px;
		-moz-border-bottom-right-radius: 70px;
		background: url(../images/pills_.jpg) no-repeat 0 0;
		background-image: url(../images/pills_.jpg);
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;        
    	-khtml-background-size:100% 100%;         
    	-moz-background-size:100% 100%;    
		background-repeat: no-repeat;
		
	}
	#sq_r_t {
		margin-left:20px;
		display:relative;
		top:-41.7px;
		width:212px;
		height:215px;
		float:left;
		border:7px solid #0083CA;
		border-top-left-radius:66px;
		border-bottom-right-radius: 66px;
		-moz-border-top-left-radius:66px;
		-moz-border-bottom-right-radius: 66px;
		background: url(../images/company.png) no-repeat 0 0;
		background-image: url(../images/company.png);
		background-size:100% 100%;
    	-webkit-background-size:100% 100%;        
    	-khtml-background-size:100% 100%;         
    	-moz-background-size:100% 100%;    
		background-repeat: no-repeat;
	}
//}
/*
@media screen and (max-width:1000px)
{
	body { 
		min-width:100px;
		width:100%;
		background: grey; 
	}
}
*/