@charset "utf-8";
/* CSS Document */
body, container {
	width:100%;	
}

@media screen and (max-width:1500px)
{
	body { background: yellow; }
}

@media screen and (max-width:1000px)
{
	body { background: green; }
}

@media screen and (max-width:500px)
{
	body { background: red; }
}
